.main-container {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.profile{
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: min-content;
}

.profile-card{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0rem 1rem 2vh 1rem;
}

.ui.small.rounded.image > div {
    margin-top: 1vh;
}

.overview-card{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.overview-card *, .legend-stats-container * {
    color: honeydew !important;
}

.legend-stats-container {
    grid-column: auto / span 8;
    grid-row: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.legend-card {
    grid-column-start: auto;
    grid-column-end: span 1;
    grid-row-start: auto;
    grid-row-end: span 1;
    background-color: #393e46;
    margin: 0rem 1rem 2.5vh 1rem;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-radius: 0.3rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.legend-card-header{
    padding: 1rem 0.8rem 0.8rem 0.8rem;
}

.legend-card-header > .ui.medium.header {
    text-align: center;
}

.statistic > .label {
    font-family: 'Nunito Sans', cursive;
    font-size: 1.5vh;
    font-weight: 600;
    text-transform: uppercase;
}

.legend-card-content {
    display: flex;
    flex-direction: row;
}

.legend-card-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 1rem 2rem 0rem 2rem;
    grid-column-gap: 1vh;
}

.legend-card-image > img {
    max-height: 19vh;
    margin: 0vh 0vh 1vh 1vh;
}

.comments-container {
    grid-column: auto / span 8;
    grid-row: auto;
    margin-bottom: 30vh;
    margin-top: 10vh;
    background-color: #393e46;
    margin: 0rem 1rem 2.5vh 1rem;
    padding-bottom: 4vh;
    padding-top: 4vh;
    padding-left: 4vh;
    border-radius: 0.3rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.overview-stats-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-column-gap: 0.8vh;
    grid-row-gap: 0.9vh;
}

.overview.statistic {
    grid-column: auto / span 1;
    grid-row: auto;
    text-align: center;
}
.value {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
}

.label {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5vh;
    font-weight: 500;
    text-transform: uppercase;
}

.ui.card {
    background-color: #393e46
}

.ui.segment {
    background-color: #393e46;
    padding: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 0rem 1rem 2vh 1rem;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.ui.medium.centered.header, .ui.medium.header, .ui.dividing.header {
    font-family: 'Saira Extra Condensed';
    font-size: 3vh;
    font-weight: 500;
}

.comments-container * {
    color: honeydew !important
}