.profile{
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: auto;
    grid-gap: 2rem 2rem;
}
.profile-card{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
}

.overview-card{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
}

